* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: montserrat, sans-serif;
}

html {
  background-color: #222;
  font-size: 16px;
}

div {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

header {
  background-color: #222;
  padding: 10px;
  width: 100vw;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

header input {
  display: inline-block;
  color: #222;
  font-size: 1.5rem;
  font-weight: 600;
  text-transform: lowercase;
  background-color: #fff;
  outline: none;
  border: none;
  appearance: none;
  padding: 5px;
  text-align: center;
}

header:before {
  content: url(./art-assets/pockit-logo.png);
  display: inline-block;
  align-items: center;
  align-content: center;
  justify-content: center;
  justify-items: center;
  margin: 2rem;
}

.buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-between
}

button {
  padding: 5px;
  border: none;
  outline: none;
}

button:hover,
button:focus {
  background-color: #EF4A24;
}

.articles article {
  padding: 30px 15px;
  background-color: #fff;
  width: 30vw;
}

.articles article a {
  text-decoration: none;
}

.articles article h3 {
  color: #222;
}

.articles article:nth-child(2n) {
  background-color: #f3f3f3;
}

.articles article:hover, article:focus {
  background-color: #EF4A24;
}

iframe#webpack-dev-server-client-overlay {
  display: none;
}

/*<500px S*/
@media only screen and (max-width: 499px) {

  header input {
    width: 30vw;
  }

  .articles article {
    width: 100vw;
  }
  
}

/*500-1200 M*/
@media only screen and (min-width: 500px) and (max-width: 1199px) {

  header input {
    width: 20vw;
  }

  .articles article {
    width: 100vw;
  }
  
}
/*>1200px L*/
@media only screen and (min-width: 1200px) {

  header input {
    width: 10vw;
  }

  .articles article {
    width: 50vw;
  }
  
}